<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>my-rewards</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-grid class="headerimg">
    <ion-row>
      <ion-col size="12">
        <img class="logo" src="../../assets/reward-icon.png">
        <p
          style="color: white; font-weight: 600;text-align: center;margin-left:0px;font-family: Rotobo;padding-top: 10px;line-height: 1.5;margin-top: 1px;">
          Hi New,
        </p>
        <br>
        <p
          style="color: white; font-weight: 600;text-align: center;font-family: Rotobo;margin-top: -31px;line-height: 1.5;">
          Welcome to
          My Rewards</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row style="background-color: lightgray;">
      <ion-col size="6">

        <ion-card style="margin-left: 0px;">
          <img class="logo1" src="../../assets/reward-icon.png" />
          <ion-card-content>
            <p style="text-align: center;">Earn Rs.50 cashback <br>
              on your first order</p>
            <hr style="border-bottom: lightgray;border-width: 2px;">
            <p style="font-size: small;">Expires on:31-12-2021</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6">

        <ion-card style="margin-left: 0px;">
          <img class="logo1" src="../../assets/reward-icon.png" />
          <ion-card-content>
            <p style="text-align: center;">Earn Rs.50 cashback <br>
              on your first order</p>
            <hr style="border-bottom: lightgray;border-width: 2px;">
            <p style="font-size: small;">Expires on:31-12-2021</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <p style="margin-top: 10px;" class="faq">FAQ's</p>
  <div>
    <ion-grid>
      <ion-row>
        <div class="dropdown">
          <p class=" dropdown-toggle" type="button" data-toggle="dropdown">How do I know that I'm eligible for
            rewards?
            <span class="caret"></span>
          </p>
          <ul class="dropdown-menu">
            <li>If you are eligible for a reward, you will see an egg pop up on your order confirmation screen. You can
              tap the egg to claim your reward. You also stand a chance to win rewards when you perform certain tasks
              like
              referring a friend to Licious. For more information, you can check the terms and conditions of the
              respective reward under the “My Rewards” section on your app homepage/account page.</li>

          </ul>
        </div>
      </ion-row>

      <ion-row>
        <div class="dropdown">
          <p class=" dropdown-toggle" type="button" data-toggle="dropdown">How do I know that I'm eligible for
            rewards?
            <span class="caret"></span>
          </p>
          <ul class="dropdown-menu">
            <li>If you are eligible for a reward, you will see an egg pop up on your order confirmation screen. You
              can
              tap the egg to claim your reward. You also stand a chance to win rewards when you perform certain tasks
              like
              referring a friend to Licious. For more information, you can check the terms and conditions of the
              respective reward under the “My Rewards” section on your app homepage/account page.</li>

          </ul>
        </div>
      </ion-row>


      <ion-grid>
        <ion-row>
          <div class="dropdown">
            <p class=" dropdown-toggle" type="button" data-toggle="dropdown">How do I know that I'm eligible for
              rewards?
              <span class="caret"></span>
            </p>
            <ul class="dropdown-menu">
              <li>If you are eligible for a reward, you will see an egg pop up on your order confirmation screen. You
                can
                tap the egg to claim your reward. You also stand a chance to win rewards when you perform certain tasks
                like
                referring a friend to Licious. For more information, you can check the terms and conditions of the
                respective reward under the “My Rewards” section on your app homepage/account page.</li>

            </ul>
          </div>
        </ion-row>
        <hr>
      </ion-grid>
      <hr>
    </ion-grid>

  </div>

  <ion-grid>
    <ion-row style="margin-top:-100px;background-color: rgb(209, 152, 181);text-align: center;color: red;">
      <ion-col size="12">
        TERMS & CONDITIONS
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row style="margin-top:-70px;background-color: lightgray;text-align: center;color: black;padding: 12px;">
      <ion-col size="12">
        Keep ordering and keep winning big!
      </ion-col>
      <hr style="border-bottom: lightgray;border-width: 2px;">
    </ion-row>
  </ion-grid>
</ion-content>