.new-background-color{
    --background: black;
}

#title-text{
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 500;
}
#header-text{
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
#body-text{
    font-size: 13px;
    padding: 0px 13px 0 13px;
}
#text{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 13px 0 13px;
}
.p li {
    font-size: 13px;
    padding: 0px 14px 0 0px;
}
#body-text-upper{
    font-size: 12px;
    padding: 0px 13px 0 13px;
}
#text-{
    font-size: 14px;
    padding: 0px 13px 0 13px;
    font-weight: 600;

}
#licious-text{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}