<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button defaultHref="/tabs/tab1" slot="start"></ion-back-button>
    <ion-title style="text-align: center">Refer&Earn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <img src="../assets/img/ref-wallet2.png" id="image" />
  <h3>Your friends are our friends too!</h3>
  <p id="p">Your unique referral code is</p>
  <ion-card id="card">
    <h3 id="code">
      <b>KWU59KHS</b>
      <ion-icon name="copy-outline"></ion-icon>
    </h3>
  </ion-card>
  <button mat-button color="warn"><h2>Know More</h2></button>
  <p id="p">
    Tell a friend they get Rs.200 discount on min order value of Rs.500. You get
    Rs.200 Licious cash
  </p>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-row style="margin-top: 0.7rem;">
          <ion-col size="4">
            <img src="assets/img/whatsapp-logo-light-green-png-0.png" style="max-width: 130%;">
          </ion-col>
          <ion-col size="8">
           <h4 style="font-size: 20px; margin-top: 0.7rem; color: gray;">Whatsapp</h4>
          </ion-col>      
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-row style="margin-top: 0.7rem;">
          <ion-col>
            <img src="assets/img/download-removebg-preview.png" style="max-width: 60%;">
          </ion-col>
          <ion-col>
           <h4 style="font-size: 20px; margin-top: 0.7rem; color: gray;">More</h4>
          </ion-col>      
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>