#image {
  width: 13rem;
  margin: 2rem 1rem 3rem 0rem;
}

#card {
  border: dotted;
  margin: 1rem 8rem 1rem 8rem;
}
#p {
  margin: 0rem 0.5rem 3rem 0.5rem;
  color: gray;
}

#code {
  margin-top: 1rem;
}

