<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="justify-content: start;">
  <div style="padding-left: 20px;">
    <h1 style="font-weight: bold;">FAQ's</h1>
    <h3>Is there GST?</h3>
    <p>All our prices are inclusive of applicable Goods and Service Tax.</p>
    <h3>I'm unable to apply a coupon code to my order.</h3>
    <p>Coupon codes are not applicable on discounted products (and exotic meats) unless specified otherwise. However, if
      your cart also has products that aren't on discount and qualify for a promotional offer (say minimum order value
      of
      Rs 499), you'll be able to apply the coupon code.</p>
    <h3>I'm able to apply the coupon code but the discount percentage is not getting
      applied to my entire cart.</h3>
    <p>Discount percentages are valid on products which qualify for the offer and will get applied only to the amount
      corresponding to the sum of these products.</p>
    <h3>Am I entitled to Free Delivery while promotional offers are running?</h3>
    <p>Delivery charges are extra (unless specified otherwise). Offers mentioned will be at a product level only.</p>
    <h3>How can I cancel my order?</h3>
    <p>In case you would like to rethink your purchase, you can cancel your order at any point until it is out for
      delivery and your money will be refunded to your original source of payment. It will be initiated instantly at the
      time of cancellation and credited to your payment source in a maximum of 5-7 business days. Please note that once
      your order is out for delivery, it cannot be cancelled or refunded irrespective of the mode of payment.</p>
    <h3>There’s an error that keeps popping up every time I checkout.</h3>
    <p>An error message at checkout could mean a few things. Make sure your billing information is correct. This
      includes the card number, expiration date and CVC security code. If your card has expired or has an invalid
      expiration date, the payment won’t go through and you may receive an error message.
      Unfortunately, there is no way for us or our system to override incorrect verification. In case you still need
      help, please mail us at talktous@licious.com or call us at 1800-4190-786.</p>
    <h3>I haven’t received my order confirmation email.
    </h3>
    <p>Your order confirmation e-mail is sent to the e-mail address linked to your Licious Account immediately upon
      placing your order. If you do not receive it, please check the junk or spam folder in your email client. If you
      still cannot locate the confirmation, you may log into your Licious Account and select 'Order History' to view all
      of your orders. If the order you placed does not appear, the order was not successfully confirmed. You may also
      write to us at talktous@licious.com or call us at 1800-4190-786 if you’re experiencing any difficulties in placing
      and / or confirming your order.</p>
    <h3>What is fresh meat?</h3>
    <p>Meat that is sold soon after slaughter is considered fresh meat.

      The use of refrigerators in India reached widespread use only in the seventies and eighties, so meat had to be
      consumed soon after buying it, as one could never store it at a lower temperature.

      Even then, after it was cooked, it had to be consumed soon after. Unless it was pickled or had some added
      preservatives to extend its life.

      Your safety is always on the top of our minds. From procurement to delivery, we keep our meat chilled at a
      temperature range between 0⁰-4⁰ Celsius. Thus, bacteria is kept out of the door and the meat is safe to consume.

      Also, the meat’s deterioration minimal till it reaches your stove. This is what we mean by fresh meat (note: not
      frozen).

      As for fish, the fruit of the sea, we at Licious rush it to your door as soon as they land on shore.</p>
    <h3>Are your meats processed using any antibiotics and growth promoting
      hormones?</h3>
    <p>Nope. The only thing we add to our meats is oodles of love and care.</p>
    <h3>Is the seafood fresh? How can I be sure?</h3>
    <p>Fish that smell is definitely not fresh. It’s ironic, but fresh fish doesn’t smell fishy. When you smell fish you
      should remember water flowing freely in nature. You’ll be able to see it in the fish’s eyes. Licious seafood is
      always fresh. Once you’ve experienced it, we’re sure you’ll be hooked.</p>
    <h3>How do I find out the nutritional information about the product?</h3>
    <p>Fresh meat has standard nutritional information that doesn’t vary much. We have it listed on our website for
      certain products. If you need exact details about the product, you can write to us at talktous@licious.com.</p>
  </div>
</ion-content>