.headerimg {
  background-image: url(../../assets/rewards-pattern.png),
    linear-gradient(90deg, #d47015, #e41d36);
}
.logo {
  height: 48px;
  width: 48px;
  margin-left: 17rem;
  padding-top: 10px;
}
.faq {
  padding: 20px 0 20px 0;
  font-family: HelveticaNeue;
  padding-left: 18px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  background-color: lightgray;
}
.logo1 {
  height: 48px;
  width: 48px;
  margin-left: 6rem;
  padding-top: 9px;
  margin-top: 20px;
}
