<ion-header>
  <ion-toolbar color="dark" style="text-align: center;">
    <ion-back-button defaultHref="/tabs/tab1" slot="start"></ion-back-button>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <mat-tab-group class="offer">
    <mat-tab label="Offers">
      <img src="../assets/img/istockphoto-1255978050-612x612-removebg-preview.png">
       <h2>No Notifications yet!</h2>
       <p>Don't worry, you can explore these other options meanwhile</p>
       <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="../assets/img/people-shopping-online-using-mobile-phone-happy-men-and-women-taking-part-in-seasonal-sale-at-store-shop-mall-and-online-cartoon-characters-on-2D8P7FN-removebg-preview.png" style="margin:1rem 0rem 0rem 0rem">
            <b>Get Rs.200 per referral</b>
            <p style="color: red;">REFER A FREIND<ion-icon name="chevron-forward"></ion-icon></p>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img src="../assets/img/delivery-man-riding-red-scooter-illustration_9845-14-removebg-preview.png" style="margin:-1rem 0rem -1.5rem 0rem">
            <b>Unlimited free delivery</b>
            <p style="color: red;">JOIN MEATOPIA<ion-icon name="chevron-forward"></ion-icon></p>
          </ion-card>
        </ion-col>
      </ion-row>
    </mat-tab>
    <mat-tab label="Alerts">
      <img src="../assets/img/istockphoto-1255978050-612x612-removebg-preview.png">
      <h2>No Notifications yet!</h2>
      <p>Don't worry, you can explore these other options meanwhile</p>
      <ion-row>
       <ion-col size="6">
         <ion-card>
           <img src="../assets/img/people-shopping-online-using-mobile-phone-happy-men-and-women-taking-part-in-seasonal-sale-at-store-shop-mall-and-online-cartoon-characters-on-2D8P7FN-removebg-preview.png" style="margin:1rem 0rem 0rem 0rem">
           <b>Get Rs.200 per referral</b>
           <p style="color: red;">REFER A FREIND<ion-icon name="chevron-forward"></ion-icon></p>
         </ion-card>
       </ion-col>

       <ion-col size="6">
         <ion-card>
           <img src="../assets/img/delivery-man-riding-red-scooter-illustration_9845-14-removebg-preview.png" style="margin:-1rem 0rem -1.5rem 0rem">
           <b>Unlimited free delivery</b>
           <p style="color: red;">JOIN MEATOPIA<ion-icon name="chevron-forward"></ion-icon></p>
         </ion-card>
       </ion-col>
     </ion-row>
    </mat-tab>
  </mat-tab-group>
</ion-content>
